# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Environment variables
.env

# Temporary files
*.tmp
*.log
